*{
    text-align: left;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: black;
}

p{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(239, 245, 210);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid red;
    margin: 5px;
    padding: 10px;
    box-sizing: content-box;
}

span{
    border: 2px solid blue;
}
img{
    display: flex;
    flex-wrap: wrap;
}